<h1>Student List</h1>

<% @students.each do |gender, studentlist| %>
<h2><%= gender.capitalize =%> ( <%= studentlist.size %> )</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  <% studentlist.each do |x| %>
    <tr>
      <td> <%= x.id %> </td>
      <td> <%= x.firstname %> <%= x.lastname %> </td>
      <td> <%= link_to "Show", students_path + "/" + x.id.to_s %></td>
      <td> <%= link_to "Delete", x, method: :delete, data: { "Are you sure?" } %></td>
    </tr>
  <% end %>
  </table>
<% end %>

