Student id is <%= @student.id %>

<ul> 
<li>Firstname: <%= @student.firstname %></li>
<li>Lastname: <%= @student.lastname %></li>
<li>Age: <%= @student.age %></li>

</ul>

<%= link_to 'Back to Index', students_path %>